@font-face {
    font-family:"itc-benguiat";
    src: url("StrangerThings.ttf");
    font-display:auto;
    font-style:normal;
    font-weight:700;
    font-stretch:normal;
}

@font-face {
    font-family:"the-seasons-mono";
    src: url("Seasons.ttf");
    font-display:auto;
    font-style:normal;
    font-weight:400;
    font-stretch:normal;
}

@font-face {
    font-family:"the-seasons";
    src: url("TheSeasons-Better.ttf");
    font-display:auto;
    font-style:normal;
    font-weight:400;
    font-stretch:normal;
}

*{
    margin: 0;
    padding: 0;
}

html{
    overflow: hidden;
    background: linear-gradient(219deg, rgba(231,179,40,1) 0%, rgba(255,147,0,1) 100%);
    height: 100%;
    width: 100%;
}

html:after{
    content:"";
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
    height: 300%;
    width: 300%;
    position: fixed;
    top:0%;
    opacity:0.1;
    animation: animateGrain 8s steps(10) infinite;
    z-index: 100;
    pointer-events: none;
}

@keyframes animateGrain{
    0%, 100% { transform:translate(0, 0) }
    10%{
      transform:translate(-5%,-10%)
    }
    20%{
      transform:translate(-15%,-20%)
    }
    30%{
      transform:translate(-5%,-10%)
    }
    40%{
      transform:translate(-15%,-20%)
    }
    50%{
      transform:translate(-5%,-10%)
    }
    60%{
      transform:translate(-15%,-20%)
    }
    70%{
      transform:translate(-5%,-10%)
    }
    80%{
      transform:translate(-15%,-20%)
    }
    90%{
      transform:translate(-5%,-10%)
    }
    100%{
      transform:translate(-15%,-20%)
    }
}

input {
    --maxlength: 0;
    display: block;
    margin: 2em auto;
    border: none;
    padding: 0;
    width: calc((1.5ch * var(--maxlength)) + 1.5ch);
    background: repeating-linear-gradient(90deg, rgb(255, 255, 255) 0, rgb(255, 255, 255) 1ch, transparent 0, transparent 1.5ch) 1.5ch 100%/calc((1.5ch * var(--maxlength)) - 0.5ch) 2px no-repeat;
    color: white;
    font-family: "the-seasons-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10ch;
    letter-spacing: 0.5ch;
    transform: translate(-1.5ch,0);
    transition: 2s width;
}

input:focus {
    outline: none;
}

#inputWrapper{
  position: relative;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

#submitButton{
  position: absolute;
  top: 50%;
  right: 0px;
  width: 3rem;
  height: 3rem;
  transform: translateY(-60%);
  background-color: transparent;
  background-size: cover;
  border: 0;
  transition: 0.2s transform;
}

#submitButton:hover{
  transform: translateY(-55%);
}

#submitButton:active{
  transform: translateY(-40%);
}

#icon path{
  transition: 2s stroke;
}

#mainWrapper{
    min-height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

#mainWrapper > h1{
    font-family: "the-seasons", sans-serif;
    font-weight: 100;
    color: white;
    overflow: hidden;
    text-wrap: nowrap;
    transition: 2s color;
}

#backgroundText{
    background: radial-gradient(circle, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    font-size: 50rem;
    overflow: hidden;
    text-wrap:nowrap;
    font-family: "itc-benguiat", serif;
    font-weight: 700;
    font-style: normal;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    z-index: -1000;
    letter-spacing: -100%;
}

#backgroundText > p {
    animation: 240s ease-in-out infinite backgroundPan;
}

@keyframes backgroundPan {
    0%{
        transform: translate(45%,0%);
    }
    50%{
        transform: translate(-45%,0%);
    }
    100%{
        transform: translate(45%,0%);
    }
}

#credits{
    font-family: "the-seasons", sans-serif;
    font-weight: 100;
    color: white;
    font-size: small;
    position: absolute;
    bottom: 2vh;
    width: 100%;
    text-align: center;
}

#blur{
  transition: 1s backdrop-filter;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 99;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  gap:10px;
}

#waitingMsg{
  font-family: "the-seasons", sans-serif;
  font-weight: 100;
  color: transparent;
  overflow: hidden;
  text-wrap: nowrap;
  transition: 2s color;
}

#introButton{
  font-family: "the-seasons", sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: white;
  overflow: hidden;
  text-wrap: nowrap;
  background-color: transparent;
  border: white solid 1px;
  border-radius: 100px;
  padding: 7px 10px 5px 10px;
  transition: 0.2s transform;
}

#introButton:hover{
  transform: translateY(2.5%);
}

#introButton:active{
  transform: translateY(10%);
}

#questionNo{
  font-family: "the-seasons", sans-serif;
  font-weight: 100;
  color: transparent;
  overflow: hidden;
  text-wrap: nowrap;
  transition: 2s color;
  font-size:medium;
  position: absolute;
  bottom:50px;
  left:50px;
}